    
params {
    outdir = "./results"
    family_id = "kinase"
    // human_fasta_path = "data/sequence/human/only_promoter_${params.family_id}_human_sequences.fasta"
    // mouse_fasta_path = "data/sequence/mouse/only_promoter_${params.family_id}_mouse_sequences.fasta"
    // sequence_type = "promoter"

    human_fasta_path = "data/sequence/human/${params.family_id}_domains_ensemblID.fasta"
    mouse_fasta_path = "data/sequence/mouse/mouse_${params.family_id}_domains_ensemblID.fasta"
    // sequence_type = "protein"

    human_exp_path = "data/expression/human/merged_human_data.tsv"
    mouse_exp_path = "data/expression/mouse/merged_mouse_data.tsv"

    orthologs_mapped = "data/db_ids/human_mouse_one2one_filtered_mapped.txt"

    human_tpm = "results/transform_expression/${params.family_id}_${params.transform_method}_exp_human.tsv"
    mouse_tpm = "results/transform_expression/${params.family_id}_${params.transform_method}_exp_mouse.tsv" 
    
    transform_method = "clr" // log, clr
}

process {
    withName: "PAIRWISE_ALIGNMENT" {
        publishDir = [
            path: "${params.outdir}/pairwise_alignment",
            mode: 'copy'
        ]
        // sequence_type = "protein"
    }
    withName: "TRANSFORM_EXPRESSION" {
        publishDir = [
            path: "${params.outdir}/transform_expression",
            mode: 'copy'
        ]

        // transform_method = "log"
    }
}